
        body {
            font-family: 'Inter', sans-serif;
            /* 这就是“炫酷”的背景！
              一个从深紫到深蓝的渐变
            */
            background-color: #0f0c29;
            background-image: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
        }

        /* 炫酷的渐变文字标题 */
        .gradient-text {
            @apply bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-500 to-cyan-400;
        }

        /* 导航栏 "标签" 激活时的样式 */
        .tab-active {
            @apply text-white border-fuchsia-500;
        }
